.guest-block{

}
.guest__item{
  position: relative;
}

.guest__label{
  display: block;
  font-family: 'PF Din Text Cond Pro';
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  position: absolute;
  top: -25px;
  left: 11px;
}